<div class="row">	
	<div class="col-md-10 col-md-offset-1">	
		<img src="/source/img/sandwichbanner.png">
		<nav class="navbar navbar-inverse navbar-embossed" role="navigation">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
		        <span class="sr-only">Toggle navigation</span>
		      </button>
		      <a class="navbar-brand">Sandwich</a>
		    </div>
		    <div class="collapse navbar-collapse" id="navbar-collapse-01">
		      <ul class="nav navbar-nav navbar-left">
		        <li><a href="/#/home"><span class="fui-home"></span> Home</a></li>
		        <li class="dropdown" id="dropdownNotes">
		          <a href="javascript:dropdownNote()" class="dropdown-toggle" data-toggle="dropdown"><span class="fui-document"></span> Notes <b class="caret"></b></a>
		          <span class="dropdown-arrow"></span>
		          <ul class="dropdown-menu">
		            <li><a href="#">Your Notes</a></li>
		            <li><a href="#">All Notes</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Create New Notes</a></li>
		          </ul>
		        </li>
		        <li><a href="#fakelink"><span class="fui-chat"></span> About Us</a></li>
		       </ul>
		       <ul class="nav navbar-nav navbar-right">
		       		<li class="dropdown" id="dropdownSettings">
		          	<a href="javascript:dropdownSetting()" class="dropdown-toggle" data-toggle="dropdown"><span class="fui-gear"></span> Settings <b class="caret"></b></a>
		         	 <span class="dropdown-arrow"></span>
		        	  <ul class="dropdown-menu">
		          	  	<li><a href="http://sandwich.billyz.me">Sign Out</a></li>
		         	 </ul>
		        	</li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </nav>
		  <div class="hero-unit" style="background-color:#ecf0f1;padding-bottom:10%;padding-top:5%;padding-left:7%">
		  			<h1>Welcome to Sandwich</h1>
		  			<h6>Feel free to browse around. You'll see some of our features down below!</h6>
		  </div>
		  <div style="padding-top:2%"></div>
		  <div class="row demo-tiles">
        <div class="col-xs-3">
          <div class="tile">
            <img src="/source/img/icons/png/Pensils.png" alt="Pensils" class="tile-image big-illustration">
            <h3 class="tile-title">Create</h3>
            <p>Make Sandwich Notes via recording or transript</p>
            <a class="btn btn-primary btn-large btn-block" href="#">Make Some Notes!</a>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="tile">
            <img src="/source/img/icons/png/Book.png" alt="Book" class="tile-image">
            <h3 class="tile-title">Study</h3>
            <p>Revisit and reread your past Sandwich Notes and Analyses</p>
            <a class="btn btn-primary btn-large btn-block" href="#">See Your Notes!</a>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="tile">
            <img src="/source/img/icons/png/Compas.png" alt="Compas" class="tile-image">
            <h3 class="tile-title">Explore</h3>
            <p>Look around to see more notes from other people!</p>
            <a class="btn btn-primary btn-large btn-block" href="#">See All Notes!</a>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="tile tile-hot">
            <img src="/source/img/tile/ribbon.png" alt="ribbon" class="tile-hot-ribbon">
            <img src="/source/img/icons/png/Infinity-Loop.png" alt="Infinity-Loop" class="tile-image">
            <h3 class="tile-title">Expand</h3>
            <p>Take incentive! Fork us on Github and add functionality</p>
            <a class="btn btn-primary btn-large btn-block" href="http://www.github.com/BillyZhong/sandwich.io">Go to Our Repo!</a>
          </div>
        </div>
      </div>
	</div>
</div>
<footer class="footer" style="background-color:#ecf0f1">
	<div class="row" style="background-color:#ecf0f1">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-7">
            <h3 class="footer-title">Subscribe</h3>
            <p>Do you like this project? Want to see more stuff like this?<br>
              Subscribe to our github to stay updated with our future projects.<br>
              Go to: <a href="http://billyz.me" target="_blank">billyz.me</a>
            </p>

            <p class="pvl">
              <iframe src="http://ghbtns.com/github-btn.html?user=BillyZhong&amp;repo=sandwich.io&amp;type=watch&amp;count=true" height="20" width="107" frameborder="0" scrolling="0" style="width:105px; height: 20px;" allowtransparency="true"></iframe>
              <iframe src="http://ghbtns.com/github-btn.html?user=BillyZhong&amp;repo=sandwich.io&amp;type=fork&amp;count=true" height="20" width="107" frameborder="0" scrolling="0" style="width:105px; height: 20px;" allowtransparency="true"></iframe>
              <iframe src="http://ghbtns.com/github-btn.html?user=BillyZhong&amp;type=follow&amp;count=true" height="20" width="195" frameborder="0" scrolling="0" style="width:195px; height: 20px;" allowtransparency="true"></iframe>
            </p>

            <a class="footer-brand" href="http://sandwich.billyz.me" target="_blank">
              <img src="/source/img/sandwichbanner.png" alt="Sandwich.io">
            </a>
          </div> <!-- /col-xs-7 -->

          <div class="col-xs-5">
            <div class="footer-banner">
              <h3 class="footer-title">Check Us Out</h3>
              <ul>
                <li>Billy Zhong @BillyZhong</li>
                <li>Kush Rastogi @Krustey</li>
                <li>Navneedh Maudgalya @Navneedh</li>
                <li>Kushal Cuttari @Kushal-C
              </ul>
              <br><br>
              Check out our other projects <a href="http://www.github.com/BillyZhong" target="_blank">here</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</footer>