@font-face {
    font-family: Helvetica_Neue;
    src: url(/source/fonts/HelveticaNeue-UltraLight.otf);
}

@font-face {
	font-family: lato;
	src: url(/source/fonts/lato/lato-regular.woff);
}

@font-face {
    font-family: 'flat-ui-icons';
    src: url('/source/fonts/glyphicons/flat-ui-icons-regular.woff');
}

body {
    overflow-x:hidden;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 6%;
  background-color: #f5f5f5;
}

.footer-bottom {
  bottom: -47%;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0;
}
.container .text-muted {
    margin-bottom: 5px;
    margin-top: 10px;
}

.navbar-static-top {
  padding-top:0%;
  padding-bottom: 2%;
  margin-bottom: 3%;
}

#sidebar {
    background-color: #02B785;
    color: white;
    height: 89%;
    padding: 0;
    position: absolute;
    left: 0;
    top: 5%;
    width: 13%;
    z-index: 2;
}

#sidebar2 {
    background-color: #02B785;
    color: white;
    height: 134%;
    padding: 0;
    position: absolute;
    left: 0;
    top: 7%;
    width: 13%;
    z-index: 2;
}


#stable {
    background-color: #FFFFFF;
    height: 100%;
    padding: 0;
    position: absolute;
    left: 13%;
    top: 5%;
    width: 87%;
}

#sidebar a {
    color: white;
    white-space: nowrap;
    overflow: hidden;
}
#sidebar-nav {
    text-align: left;
    font-size: 30px;
    margin-top: 75px;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/source/img/assets/loader.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}
